<%= div_for comment, :class => "comment" do %>
  
<%= content_tag_for :div, comment, :class => cycle(:info , :success) do %>
<% if comment.user.id == current_user.id %>
   <span class="label label-warning"> <%= comment.user.name %></span><br/>
 <% else %>
 <span class="label label-info"> <%= comment.user.name %></span><br/>
 <% end -%>
   <%= comment.descricao %><br/>
    
    <div class="">
    	Criado <%= time_ago_in_words comment.created_at %> | <%= I18n.localize(comment.created_at, :format => "%d/%m/%Y") %> </div><br/><br />
<% end -%>
<% end %>  