<%= simple_form_for [ :admin, chamado, comment ] do |f| %>


  <div class="field">
    <%= f.input :descricao,  :input_html => { :placeholder => "Especifique detalhadamente a solicitação do seu chamado, quando mais descrever melhor será nosso entendimento obrigado!", :class => "span12", :rows => 8, :id => "auto_expand"  }, :label=> false %>
 <% if current_user.is_role?(:administrador) %>
	   <%= f.hidden_field :user_id, :value => 1   %>
 <% else %>
    <%= f.hidden_field :user_id, :value => current_user.id, :label_method => :name   %>
<% end -%>
  </div>
 <!-- f.input :finalizarChamado %> -->
  <div class="actions">
    <%= submit_and_back_buttons(admin_chamados_path,{:label_name => "Enviar"}) %>
  </div>

<% end %>
