<h3 class="heading">Cliente</h3>
  <div class="row-fluid">
      <div class="span8">
<%= simple_form_for [:admin, @cliente], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>



    
          <fieldset>
            <div class="control-group formSep">
              <div>
                <% if current_user.is_role?(:administrador) %>
                 <%= f.association :user, :label_method => :name, :value_method => :id, :include_blank => false, :input_html => { :class => 'chzn_a' }, :label => "Cliente" %>
                <% end -%>
              </div>

            <div class="control-group formSep">
                <%= f.label :tipo_cliente_id, :class => 'control-label' %>
                  <div class="control-group formSep">
                    <div class="controls">
                      <%= f.select :tipo_cliente_id, TipoCliente.all.collect{|a| [a.nome, a.id]}, :input_html => { :class => 'number_field'} %>
                    </div>
                  </div> 
                  <!-- CNPJ -->
                  <div class="control-group formSep" id="cnpj_field">
                    <%= f.input :cnpj, :input_html => { :class => 'input-medium text_field', :placeholder => "CNPJ", :id => "mask_cnpj"}, :label_html => { :class => 'control-label'}, :label => "CNPJ"  %> 
                  </div>
                  <!-- CPF -->
                  <div class="control-group formSep" id="cpf_field">
                  <%= f.input :cpf, :input_html => { :class => 'span4 text_field', :placeholder => "CPF", :id => "mask_cpf"},
                  :label_html => { :class => 'control-label'}, :label => "CPF" %>
                  <div class="control-group formSep" >
                     <%= f.input  :rg, :input_html => { :class => 'span2', :placeholder => "RG"}, 
                      :label_html => { :class => 'control-label'}, :label => "RG" %> 
                  </div>
                  <!-- Sexo -->
                  <div>
                    <div class="control-group formSep">    
                        <%= f.input :sexo, :collection => Cliente::SEXO, :as => :radio_buttons, :item_wrapper_class => 'inline', :label => 'Sexo' %>
                     </div>
                 </div>
                  <!-- Data de Nascimento -->
                  <div>
                    <div class="control-group formSep">    
                      <div class=""> 
                        <%= f.input :dataNascimento,  :label_html => {:class=>"control-label"}, :input_html => {:class=>"span3", :id => "mask_date"}, :label=>"Data Nascimento" %>
                      </div>
                    </div>
                  </div>
                  <!-- Fim Data de Nascimento -->
                  <!-- Funcao -->
                  <div class="">
                    <%= f.input  :funcao, :label=> "Função", :label_html => { :class => 'control-label'} , :input_html => { :class => 'span6 controls', :placeholder => :Função} %>
                  </div> 
                  <!-- Fim Funcao -->
            </div>
            <!-- Telefone  -->
            <legend>Telefones</legend>
            <div id="contato_telefones">  
                <%= f.fields_for :contato_telefones do  |c|%>
                  <%= render :partial => "admin/contato_telefones/add_more", :locals => { :f => c} %>
                  <%end%>
            </div>
                <div class="control-group">
                  <div class="controls">
                    <%= link_to_add_fields "Adicionar mais telefones", f, :contato_telefones, "admin/contato_telefones/add_more" %>
                  </div>
                </div>
              <!-- fim telefones -->
              <!-- Email -->
            <legend>Email Secundário</legend>
               <div id="contato_emails">    
                  <%= f.fields_for :contato_emails do |c|%>
                    <%= render :partial => "admin/contato_emails/add_more", :locals => { :f => c} %>
                  <%end%>
                </div>

                <div class="control-group">
                  <div class="controls">
                    <%= link_to_add_fields "Adicionar mais emails", f, :contato_emails, "admin/contato_emails/add_more" %>
                  </div>
                </div>
                <!-- Fim email -->
          <legend>Endereço</legend>
          <div >
            <%= f.fields_for :endereco, :html =>{:class=>"formSep"} do |e| %>
            <div class="">
               <%= e.input :logradouro, :label_html => {:class=>"control-label"}, :input_html => {:class=>"input-xlarge "}, :label=>"Logradouro" %>
            </div>   
               <%= e.input :numero, :label_html => {:class=>"control-label"}, :input_html => {:class=>"span2 "}, :label=>"Número" %> 
               <%= e.input :bairro, :label_html => {:class=>"control-label"}, :input_html => {:class=>"input-medium "}, :label=>"Bairro" %>
               <%= e.input :cidade, :label_html => {:class=>"control-label"}, :input_html => {:class=>"input-medium "}, :label=>"Cidade" %>
               <%= e.input :uf, :label_html => {:class=>"control-label"}, :input_html => {:class=>"span1" }, :label=>"UF" %>

               <%= e.input :cep, :label_html => {:class=>"control-label"}, :input_html => {:class=>"input-medium ", :id=> "mask_cep"}, :label=>"CEP" %>
            <% end %>
         </div>
            </div>

            <div class="control-group formSep">

                  <%= f.input :observacao, :input_html => { :placeholder => :observacao, :class => "span5", :rows => 5 }, :label_html => { :class=>"control-label" }, :label => "Obervação" %>
            </div>
            <div class="control-group">
              <div class="controls">
                <%= f.button :submit, :class=>"btn btn-gebo"  %>
              <button class="btn">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    </div>



<% end %>


<%= content_for :head do %>
  <%=  javascript_include_tag "js/forms/jquery.ui.touch-punch.min" %>
  <%=  javascript_include_tag "js/forms/jquery.inputmask.min" %>
  <%=  javascript_include_tag "js/forms/jquery.autosize.min" %>
  <%=  javascript_include_tag "js/forms/jquery.counter.min" %>
  <%=  javascript_include_tag "lib/multiselect/js/jquery.multi-select.min" %>
<!-- Para escolher o tipo de pessoas -->
  <%=  javascript_include_tag "js/forms/jquery.spinners.min" %>
<% end %>