<%= content_tag_for(:li, compromisso) do %>
  <p class="title"><%= "#{compromisso.nome} - [#{compromisso.published_on}]" %></p>
  <p class="content"><%= compromisso.content %></p>
  <span class="compromissoed_at">Posted at <%= time_ago_in_words(compromisso.created_at) %> ago.
  (<%= link_to 'Delete', compromisso, :confirm => 'Are you sure?', :method => :delete %>)</span>
<% end %>