<div class="alert alert-block alert-info fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">  <span class="label label-info"> <%= @compromisso.id %> </span> <%= @compromisso.nome %></h4>
    <p>
		<p>
		  Chamado:
		  <b><%= @compromisso.chamado.assunto %></b>
		</p>
		<p>
		  Data da Atividade:
		  <b><%= I18n.localize(@compromisso.published_on, :format => "%d/%m/%Y") %></b>
		</p>
		<p>
		  Data da Criação:
		  <b><%= time_ago_in_words @compromisso.created_at %> <%= I18n.localize(@compromisso.created_at, :format => "%d/%m/%Y") %></b>
		</p>
		<p>
		  Observação:
		  <b><%= @compromisso.observacao %></b>
		</p>
            
    </p>
</div>