
  <div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Compromissos 
        <span class=" btn pull-right " type="span" class="icon-refresh" onClick="history.go(0)"><i class="icon-refresh i"></i> Atualizar </span></h3>
            <%= content_tag :div, "", id: "compromissos_chart", data: {compromissos: Compromisso.chart_data} %>

<fieldset>
  <legend><small> Legenda </small></legend>
Qtd: Atividades Realizadas:<span class="label label-success"><%= @complete_compromissos.count  %></span> 
Qtd: Atividades Pendentes:<span class="label label-important"><%= @incomplete_compromissos.count  %></span>
</fieldset>

        </div>  
</div> 
<hr>

<div class="span12">
  <div class="span12">
  <h3 class="heading">Agendamento</h3>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class=""><a href="#tab1" data-toggle="tab">Calendário de Atividades</a></li>
      <li class="active"><a href="#tab2" data-toggle="tab">Quadro de Atividades</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
        <div class="pull-left">
          <div class="row-fluid">
            <div class="span12">
              <div id="compromissos">
                <div class="fc-header" style="width:100%">
                  <div>
                    <div class="fc-header-left"> <span class="fc-btn fc-button-prev fc-corner-left fc-corner-right"> <%= link_to  date: @date.prev_month do %> <i class="icon-chevron-left cal_prev"></i>
                      <% end -%>
                      </span> <span class="fc-header-space"></span> <span class="fc-btn fc-button-next fc-corner-left fc-corner-right"> <%= link_to  date: @date.next_month do %> <i class="icon-chevron-right cal_next"></i>
                      <% end -%>
                      </span> </div>
                    <div class="fc-header-center"><span class="fc-header-title">
                      <h2><%= I18n.localize(@date, :format => " %B %Y") %></h2>
                      </span><!-- <span class="fc-btn fc-button-today fc-corner-left fc-corner-right fc-state-disabled">today</span> --></div>
                    <!--  <div class="fc-header-right"><span class="fc-btn fc-button-month fc-corner-left fc-state-active">Mês</span><span class="fc-btn fc-button-agendaWeek">Semana</span><span class="fc-btn fc-button-agendaDay fc-corner-right">Dia</span></div> --> 
                  </div>
                </div>
                <!-- <a data-toggle="modal" data-backdrop="static" href="#myMail" class="label ttip_b" title="Novos Chamados">25 <i class="splashy-mail_light"></i></a> --> 
                
                <%= calendar @date do |date| %> <%= date.day %>
                <% if @compromissos_by_date[date] %>
                <ul>
                  <% @compromissos_by_date[date].each do |compromisso| %>
                  <li> <%= div_for(compromisso)  do  %> <span class="label label-info"> <%= link_to("#{compromisso.nome.html_safe}","#my", :class => " pop_over ", :title => "Detalhes", "data-placement"=> 'top',  "data-content" => "Assundo: <b>#{compromisso.nome}</b> <br/>
                        Data da Atividade: <b>#{ I18n.localize(compromisso.published_on, :format => "%d/%m/%Y")  if compromisso.published_on}</b>
                        Data da Criação: <b>#{time_ago_in_words compromisso.created_at  if compromisso.created_at}</b>
                        Chamado: <b>#{compromisso.observacao  if compromisso.observacao}</b>").html_safe %> </span>
                    <% end -%>
                  </li>
                  <% end %>
                </ul>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane active " id="tab2">
        <div>

          <div class="pull-left span11 well">
            <div class="span6">
              <h2>Atividades Pendentes <span class="label label-important">&nbsp &nbsp</span> </h2>
              <div class="compromisso form-inline branco " id="incomplete_compromissos"> <%= render @incomplete_compromissos.reverse %> </div>
                 </div>
            <div class="span6">
              <h2 class="panel">Atividades Finalizados <span class="label label-success">&nbsp &nbsp</span></h2>
              <div class="compromisso form-inline branco" id="complete_compromissos"> <%= render @complete_compromissos.reverse %> </div>
             </div>
           <div class="pull-left span12"> </div>
             
           <div class="pull-left span11">
              <div class="span6 pull-left">
                <h2>Registrar Atividade  </h2>
                  <div id="compromisso_form">
                     <%= simple_form_for [:admin, @compromisso], remote: true do |f| %>
                      <%= f.input :nome, label:"Nome da Atividade" %>
                      <%= f.association :chamado, :label_method => ( :identificacao_chamado ), :value_method => :id, :include_blank => false, :collection => Chamado.where(:finalizaSolicitacao == false), :prompt => "Assossiar Chamado" , :input_html=> { :class => "span6 chzn_a"} %>
                      <%= f.label "Data" %>
                      <%= f.text_field :published_on, label:"Data" %>
                      <%= f.input :observacao, :input_html => { :placeholder => "Observação", :class => "span10", :rows => 2, :id => "auto_expand"  }, :label_html => { :class=>"control-label" }, :label => "Obervação:" %>
                      <%= f.submit :class=> "btn" %>
                    <% end %>
                  </div>
               </div>
        <div class="span6 pull-right">
          <h2>Detalhar Atividades  </h2>
            <div class=" branco">
          <% @compromissos.each do |compromisso| %>
            <%= div_for(compromisso)  do  %>
              <ul>
                <lo>  <span class="label label-info"> <%= compromisso.id %> </span> <%= link_to (compromisso.nome), [:admin, compromisso], :remote => true %></lo>
              </ul>
              <div class="details"></div>
            <% end %>
        <% end %>
        </div>
        </div>
      
        <ul id="compromissos">
           <!-- render :partial => @compromissos %> -->
        </ul>
        </div>
        
        
        
        
        
        
             
             
             
             
             
             
             
             
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :head do %>
  <%=  javascript_include_tag "ordemcompromissos.js" %>
<% end %>
