
<div id="accordion1" class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapseOne1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
				<h1 class="heading">Ordem de Serviço | <b> <%= "#{@produto.name}" %> </b>  <i class="icon-plus-sign"></i></h1>
			</a>
		</div>
		<div class="accordion-body collapse" id="collapseOne1" style="height: 0px;">
			<div class="accordion-inner">
				    <%= "Cliente: #{@produto.user.name}  "                if @produto.user.present? %> <br>
			    	<%= "Unidade:  #{@produto.setor.unidade.nome}"         if @produto.setor.unidade.nome.present?%><br>
				    <%= "Setor:  #{@produto.setor.nome}"                   if @produto.setor.present?%><br>
					<%= "Categoria:  #{@produto.category.name}"           if @produto.category.name.present? %> <br>
				    <%= "Modelo: #{@produto.modelo}"                      if @produto.modelo.present? %> <br>
				    <%= "Marca:  #{@produto.marca}"                       if @produto.marca.present? %> <br>
				    <%= "Número de Série: #{@produto.numeroSerie}"        if @produto.numeroSerie.present? %><br>
				    <%= "Patrimônio:  #{@produto.patrimonio} "            if @produto.patrimonio.present?%><br>
				    <%= "Número de Contrato: #{@produto.numeroContrato}"  if @produto.numeroContrato.present? %><br>
				    <%= "Acessórios: #{@produto.acessorios}"              if @produto.acessorios %><br>
				    
				    
				    
			</div>
		</div>
	</div>
</div>
<br>
<%= simple_form_for [:admin, @produto, @servico], :html=> { :multipart => true} do |f| %>
<%= error_message_for(@servico) %>
<!-- Form para ajax -->
 <!-- simple_form_for [:admin, @servico], remote: true do |f| %> -->
  <%= f.input :numero_os, label: "Nº da OS", hint: "(Numeração do Bloco)", input_html: { class: "span2"} %>
  <%= f.input :nome, label:"Defeito do Produto", input_html: { class: "span6", placeholder: "Defeito do produto"} %>
  <%= f.association :statu, :input_html => { :class => 'chzn_a span5 ', :id => ""}, :label_method => :nome,
                    :include_blank => false, :label => 'Status' %>
                    
    <% if current_user.is_role?(:administrador) %>
                    <fieldset>
                      <legend>Técnico</legend>
						 <%= f.label :funcionario, label: "Funcionário" %>
                         <div class=" offsets3 " ></div> <%= f.select( :funcionario_id, Funcionario.all.collect {|p| [ p.user.name, p.id ] }, { :include_blank => true }, :class=>"chzn_a", :prompt => "Escolha o Funcionario Responsável", :label => "Cliente")  %>
                    </fieldset>
                  <% end -%>   

    

  <%= f.association :chamado, :label_method => ( :identificacao_chamado ), :value_method => :id, :include_blank => false, :collection => Chamado.where(:status == "Finalizado"), :prompt => "Apartir do Chamado" , :input_html=> { :class => "span6 chzn_a"} %>

  <%= f.input :retirado, :label => "Retirado do local" %>  
  <%= f.input :descricao, :input_html => { :placeholder => "Descrição", :class => "span10", :rows => 5, :id => "auto_expand"  }, :label_html => { :class=>"control-label" }, :label => "Descrição" %>
  
  <%= f.input :observacao, :input_html => { :placeholder => "Observação", :class => "span10", :rows => 5, :id => "auto_expand"  }, :label_html => { :class=>"control-label" }, :label => "Obervação:" %>

    




  <%= submit_and_back_buttons(admin_produto_servicos_path,{:label_name => "Gravar Ordem de Serviço"}) %>


<% end %>

<%= content_for :head do %>
  <%=  javascript_include_tag "js/forms/jquery.ui.touch-punch.min" %>
  <%=  javascript_include_tag "js/forms/jquery.inputmask.min" %>
  <%=  javascript_include_tag "js/forms/jquery.autosize.min" %>
  <%=  javascript_include_tag "js/forms/jquery.counter.min" %>
 
<% end %>