<div class="span12 pull-left">
		<h1>Ordem de Serviço</h1>
		 <%= link_to "Novo Serviços", new_admin_servico_path, id: "new_link", :class=> "btn", remote: true %> 
		 <p></p>
		</div>
 <div class="pull-left span11">
	<div class="span6">
		<h2>Serviços Incompletos</h2>
		<div class="servico form-inline well " id="incomplete_servicos">
			<%= render @incomplete_servicos.reverse %>
		</div>
		<span class='paginate'><%= page_navigation_links(@incomplete_servicos)%></span>
	</div>
	<div class="span6">
		<h2 class="panel">Serviços Completaa</h2>
		<div class="servico form-inline well" id="complete_servicos">
			  <%= render @complete_servicos.reverse %>
		</div>
		<span class='paginate'><%= page_navigation_links(@complete_servicos)%></span>
	</div>
</div>

