<div class="span12">
  <h2>
    Todas Solicitações | <%= "#{@produto.name}" %>
  </h2>
  <table class="table table-bordered table-striped nav-tabs nav-stacked">
    <tr>
      <th>Assunto</th>
      <th>Peças</th>
      <th>Size</th>
      <th>Type</th>
    </tr>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.observacao %></td>
        <td><%= servico.pecas.count %></td>
        <td></td>
        <td>
          <div class="btn-group">
            <%= link_to [:admin, @produto, servico], :class=>'btn btn-primary' do %>
              <i class="icon-white icon-user"></i> Abrir
            <% end -%>
              

            <a class="btn btn-primary dropdown-toggle" "data-toggle" = "dropdown" href = "myModal">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_admin_produto_servico_path(@produto, servico) do %>
                  <i class="icon-pencil"></i> Editar
                <% end -%>
              </li>
              <li>
                <%= link_to [:admin, @produto, servico], :confirm => 'Are you | sure?', :method => :delete do %>
                  <i class="icon-trash"></i> Deletar 
                <% end -%>
              </li>
              <li>
                <a href = "#">
                  <i class="icon-ban-circle"></i>Ban
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href = "#myModal"><i class="i">
                  </i>
                  Make admin                      |
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <% end -%>
  </table>
  <br/>
  <div class="btn btn-large">
    <%= link_to new_admin_produto_servico_path(@produto, @servico) do %>
      <i class="icon-plus-sign"></i> Abri nova ordem de serviço
    <% end -%>
  </div>
</div>
​