<!--  current_user.cliente.rg  %></h1> -->
<!--  current_user.cliente.cpf %></h1> -->
<!--  @user.cliente.cpf        %></h1> -->
<!--  @user.cliente.cpf        %></h1> -->
<!--  @cliente.sexo            %> -->
<!--  @user.cliente.cpf        %></h1> -->
  

  <div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li><%= link_to  admin_produtos_path do %>
        <i class="icon-home"></i> Todos Produtos 
          <% end -%>

        </li>
         <li>
            <%= link_to new_admin_produto_path do %>
            <i class=" icon-plus"></i> Novo Produto
            <% end -%>
        </li>
        </li>
            <%= link_to new_admin_chamado_path do %>
             <i class=" icon-plus"></i> Abrir Chamado <b>&nbsp</b>
            <% end -%>
        </li>
        </li>
            <%= link_to admin_produto_servicos_path do %>
             <i class=" icon-plus"></i> Todas OS de <%= @produto.name %> <b>&nbsp</b>
            <% end -%>
        </li>
        <li>
          <% url_format_result = url_for :controller => 'servicos', :action => 'show', :format => :pdf, :id => @servico.id %> 
  <%= link_to "Gerar PDF", url_format_result, :target => "_blank" %>      
        </li>
    </ul>
</div>    










<div class=" well">
 <h1> <legend>Ordem de Serviço - Nº <%= @servico.id %></legend></h1>
  <% if @servico.numero_os -%>
  <h4 class="inline"> <b><small><i class="icon-file" > </i>  Ordem de serviço (Bloco):  <%= @servico.numero_os %> </small> </b></h4>
  <% end -%>
  <br>
    <div class="span12">
      <div class="span6">
        <small>Defeito:</small>
          <h3 class="heading inline"><%= @servico.nome %> </h3>
      </div>
      <div class="span5">
       <b> <small class=" pull-right">Criando: <%= time_ago_in_words @servico.created_at %> <%= I18n.localize(@servico.created_at, :format => "%d/%m/%Y") %> <br>
          <% if @servico.completado == true %>
           Finalizado: <%= time_ago_in_words @servico.updated_at %> <%= I18n.localize(@servico.updated_at, :format => "%d/%m/%Y") %> 
           <% end -%>
        </small>
      </b>
      </div>
</div>
<div class="row-fluid ">
  <div class="span12 branco">
    <% if @servico.produto%>
        <div class="span4">
          <span><i class="icon-hdd"></i> Aparelho:</span>
            <b> <%= link_to("#{@servico.produto.name.html_safe}","#{ }", :class => " pop_over ", :title => "Espercificações do Aparelho", "data-placement"=> 'right',  "data-content" => "Modelo: #{@servico.produto.modelo} <br/>
                      ID:<b> #{@servico.produto.id}</b> <br/>
                      Categoria:<b> #{@servico.produto.category.name}</b> <br/>
                      Marca:<b> #{@servico.produto.marca}</b> <br/>
                      Nº:<b> #{@servico.produto.numeroSerie}</b> <br/>
                      Acessórios:<b> #{@servico.produto.acessorios}</b> <br/>
                      Observação:<b> #{@servico.produto.observacao}</b> <br/>").html_safe  %></b>
        </div>
    <% end -%>


    <% if @produto.setor%>
      <div class="span4">
        <span> <b> <i class=" icon-map-marker"></i> Local:</b></span>
        <%= @produto.setor.unidade.nome %> | <%= @produto.setor.nome %>  
      </div>
    <% end -%>
    <% if @produto.user%>
      <div class="span4">
        <b><span><i class="icon-user"></i> Cliente:</span></b>
       <%= @produto.user.name%>  
      </div>
    <% end -%>
  </div> <br> 
<p>&nbsp</p> 
<div class="">
<% if @servico.statu.present? %>
<div class="span4">
    Status: 
    <% if @servico.completado == true %>
      <span class="label label-success"> Finalizada </span>
    <% else %> 
      <span class="label label-info">
        <%= @servico.statu.nome %>
      </span>
    <% end -%>
    
</div>
<% end -%>
  <div class="span4">
      Finalizado: 
      
        <% if @servico.completado == true %>
      <span class="label label-success">  Sim →  <%= time_ago_in_words @servico.updated_at %> <%= I18n.localize(@servico.updated_at, :format => "%d/%m/%Y") %> </span>
        <% else %>
       <span class="label label-important"> Não</span>
        <% end -%>
      
  </div>  
  <div class="span4">
    Aparelho Retirado: 
      <% if @servico.retirado == true %>
      <span class="label label-warning">Sim</span>
      <% else %>
      <span class="label label-important">Não</span>
      <% end -%>
  </div>
</div>
  <hr>
    
  <div class="" >
      <!-- Solução -->
    <fieldset class="span6 branco">
      <legend>Solução</legend>
    <%= @servico.solucao %> <br>
    <% if @servico.completado %>  
     <b> Finalizado:</b> <%= time_ago_in_words @servico.updated_at %> <%= I18n.localize(@servico.updated_at, :format => "%d/%m/%Y") %> 
    <% end -%>
    </fieldset>
    <!-- Fim Solução -->
    
      <!-- Solução -->
    <fieldset class="span6 branco">
      <legend>Orçamento</legend>
     <% if @servico.pecas.count > 0 %> 
      <b> <i class="icon-cog"></i> Quantidade de Peças: </b> <%= @servico.pecas.count %>
      <% else %>
      <b> <i class="icon-cog"></i> Quantidade de Peças: </b> <%= @servico.pecas.count %>
     <% end -%> <br>
      <% if @servico.tarefas.count > 0 %> 
      <b> <i class="icon-wrench" ></i> Quantidade de Mão-de-obra: </b> <%= @servico.tarefas.count %>
      <% else %>
      <b> <i class="icon-wrench" ></i> Quantidade de Mão-de-obra: </b> <%= @servico.tarefas.count %>
     <% end -%> <br>
       <% if @total_pecas.present? or @total_tarefas.present? %>
        <h1 class=" right " >Total: <%= (number_to_currency (@total_pecas) + ( @total_tarefas))  %> </h1>
       <% end -%>
       
    </fieldset>
    <!-- Fim Solução -->
  </div>
</div>   
<hr>
  <!-- Interação do cliente mas funcionário e admin -->
  <% if @servico.chamado.present? %>
<div class="">
      <div id="accordion1" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#collapseOne1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                      <legend> Detalhes do Chamado: <%= @servico.chamado.assunto %></legend>
                    </a>
                  </div>
                  <div class="accordion-body collapse" id="collapseOne1">
                    <div class="accordion-inner ">
                      <div class="span6 branco">
                        <b><i class="icon-info-sign" ></i> Identificação: </b><%= @servico.chamado.id if @servico.chamado.id %> <br>
                                    <b><i class="icon-tags" ></i> Assunto: </b><%= @servico.chamado.assunto if @servico.chamado.assunto %> <br>
                                <b> <i class="icon-time"></i> Data: </b> <%= time_ago_in_words @servico.chamado.created_at %> <%= I18n.localize(@servico.chamado.created_at, :format => "%d/%m/%Y") %>  <br>
                               <b> <i class="icon-user"></i> Técnico Resposánvel: </b> <%= @servico.chamado.funcionario.user.name if  @servico.chamado.funcionario.user.name.present?  %> <br>
                                 <b> <i class="icon-warning-sign"></i> Prioridade: </b> <%= @servico.chamado.prioridade %>  <br>
                                 <b> <i class="icon-tasks"></i> Status: </b> <%= @servico.chamado.status %>  <br>
                                 <b> <i class="icon-retweet"></i> Solicitação do Cliente: </b> <%= @servico.chamado.cancelar %>  <br>
                                 <b> <i class="icon-check"></i> Tipo de Atendimento: </b> <%= @servico.chamado.tipoAtendimento %>  <br>
                                 <b> <i class=" icon-map-marker"></i> Local: </b> <%= @servico.chamado.setor.unidade.nome %> | <%= @servico.chamado.setor.nome %> <br>
                                  <b> <i class="icon-arrow-right"></i> Telefone do Setor: </b> <%= @servico.chamado.setor.unidade.fone %> <%= "Ramal #{@servico.chamado.setor.unidade.ramal} " unless  @servico.chamado.setor.unidade.ramal.blank? %> <br> 
                                 <b> <i class="icon-list"></i> Descrição: </b> <%= @servico.chamado.descricao %> <br> 
                      </div> 
                                         
                        
                               <div class="span6 branco"> 
                            <div class="" id="comentarios">
                                    <div class="antiScroll">
                                      <div class="antiscroll-inner" style="width: 410px; height:100% !important; ">
                                        <div class="antiscroll-content" style="height:0px !important;">
                                      
                                          <div class="sidebar_inner" style="margin-bottom: -92px; min-height: 100%;">
                                            <div id="side_accordion" class="accordion">
                                              
                                              <div class="accordion-group">
                                                <div class="accordion-heading sdb_h_active">
                                                  <a href="#collapse<%= @servico.id %>" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                                     <i class="icon-comment"></i> <span class="label label-warning"> <%= @servico.chamado.comments.count if  @servico.chamado.comments.count > 0 %></span> Interação do Chamado 
                                                  </a>
                                                </div>
                                                <div class="accordion-body collapse in" id="collapse<%= @servico.id %>">
                                                  <div class="accordion-inner">
                                                      <%- if @servico.chamado.comments.any? -%>
                                                          <%= render :partial =>  @servico.chamado.comments %>
                                                  <h1> &nbsp </h1>
                                                  <h1> &nbsp </h1>
                                                  <h1> &nbsp </h1>
                                                          
                                                        <%- else -%>
                                                          <b class=''>Sem histórico de conversa</b>
                                                        <%- end -%>
                                                  </div>
                                                 </div>
                                              </div>
                                            </div>
                                            
                                            <div class="push" style="height: 92px;"></div>
                                          </div>

                                        
                                        </div>
                                      </div>
                                    <div class="antiscroll-scrollbar antiscroll-scrollbar-vertical" style="height: 102.11443850267379px; top: 0px;"></div></div>
                                  
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                     </div>
                  </div>
                </div>
            </div>
      </div>
</div>
<% end -%>
<!-- Fim da interação  -->

   
</div>
</div>
<% if current_user.is_role?(:administrador) or current_user.is_role?(:funcionario)  %>
<div class="">
            <h3 class="heading">Painel de Controle</h3>
            <div class="tabbable tabbable-bordered">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_br1" data-toggle="tab"> <i class="icon-list-alt"></i> Gerenciar</a></li>

                <li class=""><a href="#tab_br2" data-toggle="tab"> <i class="icon-cog"></i> Peças <% if @servico.pecas.count > 0 %> 
      <span class="label label-important" > <%= @servico.pecas.count %></span>
     <% end -%> <br></a></li>
                
                <li class=""><a href="#tab_br3" data-toggle="tab"> <i class="icon-wrench"></i> Mão-de-obra<% if @servico.tarefas.count > 0 %> 
      <span class="label label-important" > <%= @servico.tarefas.count %></span>
     <% end -%> <br></a></li>
                <li class=""><a href="#tab_br4" data-toggle="tab"> <i class="icon-align-justify"></i> Laudo Técnico</a></li>

<!--Terceira aba  <li class=""><a href="#tab_br3" data-toggle="tab">Section 3</a></li> -->
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_br1">
                  
                  <div class="spna12">
                    
                    <div class="span5"> 
                    <h3 class="heading inline">Configuração:</h3>
                            <%= render 'painel'  %>
                    </div>
                    <div class="span6">
                   <!-- Descriçao -->
                    <fieldset class=" branco ">
                      <legend>Descrição</legend>
                    <%= @servico.observacao %>
                    </fieldset> <br>
                   <!-- Fim Descricao -->
                    </div>
                  </div>
                </div>
                <!-- Pecas -->
                <div class="tab-pane" id="tab_br2">
                  <div id="peca_form" class="span4">
                          <h3 class="heading">Adicionar Peças </h3>
                          <p id="notice"><%= notice %></p>
                          <%= render 'admin/pecas/form' %>
                  </div>
                  <div class="span5">
                    <h3 class="heading">Todas Peças  
                      <span class="right pull-right" >  Total <%= number_to_currency  @total_pecas  %>
                         <span class="btn"  title="Atualizar Cálculo" onClick="history.go(0)">
                            <i class="icon-random i"></i> 
                        </span>
                      </span>
                    </h3> 
                      <ul id="pecas" >
                        <%= render :partial => @pecas.reverse %>
                      </ul>                        
                  </div>      
                </div>
                <!-- fim de pecas -->
                
                
                <!-- Mão-de-obra -->
                <div class="tab-pane" id="tab_br3">
                  <div id="tarefa_form" class="span4">
                          <h3 class="heading">Adicionar Mão-de-obra </h3>
                          <p id="notice"><%= notice %></p>
                          <%= render 'admin/tarefas/form' %>
                  </div>
                  <div class="span5">
                    <h3 class="heading">Todas Mão-de-obra  
                      <span class="right pull-right" >  Total <%= number_to_currency  @total_tarefas,  %>
                         <span class="btn"  title="Atualizar Cálculo" onClick="history.go(0)">
                            <i class="icon-random i"></i> 
                        </span>
                      </span>
                    </h3> 
                      <ul id="tarefas" >
                        <%= render :partial => @tarefas.reverse %>
                      </ul>                        
                  </div>
                </div>
                <!-- fim dee Mão-de-obra -->
                
                
                
                
                <!-- laudo Técnico -->
                <div class="tab-pane" id="tab_br4">
                  <% if current_user.is_role?(:administrador) or current_user.is_role?(:funcionario)  %>
                            <%= render 'laudo' %>

                  <% end -%>   
                </div>
                <!-- fim dee laudo Técnico -->
                
                
                </div>
              </div>

     </div>
  </div> 
<% end -%>
</div>
</div>


      