<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @peca.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @peca.codigo %>
</p>

<p>
  <b>Content:</b>
  <%= @peca.valorPeca %>
</p>


<%= link_to 'Edit', edit_peca_path(@peca) %> |
<%= link_to 'Back', pecas_path %>
