<div id="jCrumbs" class="breadCrumb module">
    <ul>
        
        <li><%= link_to  admin_users_path do %>
                <i class="icon-home"></i> Todos Usuários 
            <% end -%>
        </li>
        <li>
            <%= link_to new_admin_cliente_path do %>
             <i class=" icon-plus"></i> Cadastrar Cliente 
            <% end -%>
        </li>
        <li>
            <%= link_to new_admin_user_path do %>
             <i class=" icon-plus"></i> Cadastrar Usuário 
            <% end -%>
        </li>
        <li>
            <%= link_to new_admin_funcionario_path(@funcionario) do %>
               <i class=" icon-plus"></i> Cadastrar Funcionário
            <% end -%>
        </li>
    </ul>
</div>      

<table class="table table-striped table-bordered dTableR" id="dt_d">
<thead>
  <tr>
      <th>ID</th>
      <th>Usuários</th>
      <th>Email</th>
      <th>Permissão</th>
      <th>Ações</th>
  </tr>
</thead>
<tbody>



<% @users.each do |user| %>

  <tr>
        <td class='name'><%= user.id %></td>
        <td class='name'> <%= link_to admin_user_path(user) do %>  <%= user.name %> <i class="icon-share-alt"></i><% end -%>
		<td class='name'> <%= user.email %></td> 
		<td class='name'> <%= user.role.name %></td> 
		<td class='situation'>
                                              <div class="btn-group dropup">
                                                <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                                                  Ações
                                                  <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                  <!-- dropdown menu links -->
                                                  <li> <%= link_to [:admin, user] do %>
                                                       <i class="icon-eye-open"></i> Detalhes
                                                        <% end -%>
                                                  </li>
                                                  <li> <%= link_to edit_admin_user_path(user) do %>
                                                        <i class="icon-edit"></i> Editar
                                                       <% end -%>
                                                  </li>
                                                  
                                                
                                                  <li> 
                                                    <%= link_to [:admin, user], :confirm => 'Você tem certeza?', :method => :delete do %>
                                                    <i class="icon-trash"></i> Deletar 
                                                    <% end -%>
                                                  </li>
                                                </ul>
                                              </div>
                                      </td>
  </tr>
    <% end -%>          



  </tbody>
</table>