<div id="jCrumbs" class="breadCrumb module">
    <ul>
        
        <li><%= link_to  admin_users_path do %>
                <i class="icon-home"></i> Todos Usuários 
            <% end -%>
        </li>
        <li>
            <%= link_to new_admin_user_path do %>
             <i class=" icon-plus"></i> Cadastrar Usuário 
            <% end -%>
        </li>
        <li>
            <%= link_to new_admin_cliente_path do %>
             <i class=" icon-plus"></i> Cadastrar Cliente 
            <% end -%>
        </li>
        <li>
            <%= link_to new_admin_funcionario_path(@funcionario) do %>
               <i class=" icon-plus"></i> Cadastrar Funcionário
            <% end -%>
        </li>
    </ul>
</div>  
<%= page_sub_title('Detalhes Usuário') %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Campo</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody>
		<%= show_field_value(:nome, @user.name) %>
		<%= show_field_value(:email, @user.email) %>
		<%= show_field_value(:role, @user.role.name.camelize) %>
		<%= show_field_value(:situação, show_situation_status(@user.situation)) %>
	</tbody>
</table>
<%= back_button(admin_users_path) %>


