<%= simple_form_for [:admin, @chamado], :html => { :class => 'form-horizontal' } do |f| %>
  <%= error_message_for(@chamado) %>
<div class="">
              <div class="tabbable tabbable-bordered">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_br1" data-toggle="tab">Novo Chamado</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_br1">
                    <% if current_user.is_role?(:administrador) or current_user.is_role?(:funcionario) %>
                    <fieldset>
                      <legend>Cliente Solicitante</legend>
                               <%=  f.association :user, :label_method => :name, :value_method => :id, :include_blank => false, :collection => User.all, :input_html => { :class=>"chzn_a", :prompt => "Escolha o produto"}, :label => "Cliente"  %> 


                               <!-- f.select( :cliente_id, Cliente.all.collect {|p| [ p.user.name, p.id ] }, { :include_blank => true }, :class=>"chzn_a", :prompt => "Escolha o Funcionario Responsável", :label => "Cliente")  %> --> 

                               <!-- f.select( :cliente_id, Cliente.all.collect {|p| [ p.user.name, p.id ] }, { :include_blank => true }, :class=>"chzn_a", :prompt => "Escolha o Funcionario Responsável", :label => "Cliente")  %> -->

                      <legend>Técnico</legend>
                         <div class=" offsets3 " ></div> <%= f.select( :funcionario_id, Funcionario.all.collect {|p| [ p.user.name, p.id ] }, { :include_blank => true }, :class=>"chzn_a", :prompt => "Escolha o Funcionario Responsável", :label => "Cliente")  %>
                    </fieldset>
                  <% end -%>
                  
                  <fieldset>
                      <legend>Solicitação</legend>
                        <%= f.input :assunto, :input_html => { :class=> "span5", :placehold => "Assunto do Chamado" }  %>
                       <%= f.input :setor_id, :collection => @unidades, :as => :grouped_select, :group_method => :setores, :input_html => { :class => 'chzn_a span5' }, :label => "Setor", :prompt=> "Escolher o setor", :value_method => :id, :include_blank => false  %> 
                      
                      <%= f.input :prioridade, :collection => Chamado::PRIORIDADE, :prompt => "Tipo de Prioridade" %>
                       <!-- f.input :status, :priority => [ "Aguardando Atendimento" ], :collection => [ "Aguardando Atendimento", "Cancelado", "Finalizado"], label: "Status", prompt: "Tipo de Status" if current_user.is_role?(:administrador) %> -->
                      <%= f.input :tipoAtendimento, :collection => Chamado::TIPODEATENDIMENTO, :prompt => "Tipo de Atendimento",  :label_html => { :placeholder => "Atendimento"}, :label => "Atendimento" %> 
                    </fieldset>
                  <!-- Se for admin do sistema -->
                    <% if current_user.is_role?(:administrador) %>
                    <!-- <!-- Escolher o Usuário -->
                       <!-- <fieldset>
                          <legend class='required'>
                           Cadastrar Produto
                          </legend>
                              f.association :user, :label_method => :name, :value_method => :id, :include_blank => false, :collection => User.all, :input_html => { :class=>"chzn_a", :prompt => "Escolha o produto"}, :label => "Cliente"  %>
                            f.label :produto, { :class=> "span5" }  %><p></p>

                           <select name="chamado[produto_id]" id="producttest">
                             
                           </select>

                           <a href="#" id="bt-cadastra"><span class="class="btn btn-primary""><i class="icon-plus"></i></span></a><p></p>
                        </fieldset> -->

                    <%else%>
                    <!-- pegar o id do cliente -->
                      <%= f.hidden_field :user_id, :value => current_user.id %>
                      <!-- f.association :produto, :label_method => :name, :value_method => :id, :include_blank => false, :collection => Produto.where(:user_id => current_user.id), :prompt => "Escolha Produto" %> -->
     

                    <% end -%>
                    <%= f.input :descricao, :input_html => { :placeholder => "Descrição", :class => "span7", :rows => 5 }, :label_html => { :class=>"control-label" }, :label => "Descrição" %>
                                  </div>
               <% if current_user.is_role?(:administrador) %>
                      <!--  f.association :produto, :label_method => :name, :value_method => :id, :include_blank => false, :collection => Produto.all %> -->

                    <!-- autocomplete -->
                       <!-- f.label :produto_name %><br /> -->
                       <!-- f.text_field :produto_name, data: {autocomplete_source: admin_produtos_path}, :id=>"chamado_produto_name" %> -->
                    <!-- fim do autocomplete -->
                     <!-- Se não for usuário -->
                     <!-- Controi o formulário de serviços -->
  
                 
                  </div>
             <% end -%>
                </div>
              </div>
            </div>

<br>
  <div class="well">

    <div class="form-actions">
    <%= submit_and_back_buttons(admin_chamados_path,{:label_name => "Gravar Chamado"}) %>
  </div>
</div>
   <!-- f.input :finalizaSolicitacao, :label => "Solicitação Finalizada" %> -->

<!-- Rabisco -->
 <!-- f.input :produto_id, :collection => @users, :as => :grouped_select, :group_method => :users %> -->

 <!--   f.input :produto_id, :as => :grouped_select, 
             :collection => Produto.where(:user_id => current_user.id).where(:assigned_to => current_user), 
             :group_method => :name %> 
 -->
 <!-- grouped_collection_select(:produto, :country_id, @continents, :countries, :name, :id, :name) %> -->




  
<% end %>
 <!-- current_user.is_role?(:administrador) %> -->
      <!-- <div id="dialog-cadastro" title="Cadastro de Pessoas">  -->
        <form action="../../produtos.js" method="post" id="new_contato"> 
             <!-- render "new_produto" %>  -->
        </form>
      <!-- </div> -->
<!--  -->
 <!-- end -%> -->
<%= content_for :head do %>
  <%=  javascript_include_tag "js/forms/jquery.ui.touch-punch.min" %>

 

  <%=  javascript_include_tag "raphael" %>
  <%=  javascript_include_tag "morris" %>
  <%=  javascript_include_tag "servicos" %>
<% end %>