

<h1>
  <b>Assunto:</b>
  <%= @chamado.assunto %>
</h1>
<p>
  <b>Usuario:</b>
  <%= @chamado.user.name %>
</p>

<p>
  <b>Produto:</b>
  <%= @chamado.produto.name %>
</p>
<p>
  <b>Prioridade:</b>
  <%= @chamado.prioridade %>
</p>

<p>
  <b>Atendimento:</b>
  <%= @chamado.tipoAtendimento %>
</p>

<p>
  <b>Cortesia:</b>
  <%= @chamado.cortesia %>
</p>

<p>
  <b>Observação:</b>
  <%= @chamado.observacao %>
</p>

<p>
  <b>Solucionado:</b>
  <% if @chamado.solucionado == false  %>
      <span class="badge badge-important">Não</span>
  <% else %>
      <span class="badge badge-success">Sim</span>
  <% end -%>
</p>

<p>
  <b>Finalizar Solicitacao:</b>
  <% if @chamado.finalizaSolicitacao == false  %>
      <span class="badge badge-important">Não</span>
  <% else %>
      <span class="badge badge-success">Sim</span>
  <% end -%>
</p>

<p>
  <b>Valor Total:</b>
  <%= @chamado.valorGeral %>
</p>


<p>
  <b>Descricao:</b>
  <%= @chamado.descricao %>
</p>

<%= link_to 'Editar', edit_admin_chamado_path(@chamado) %> |
<%= link_to 'Voltar', admin_chamados_path %>
<p>  <%= @chamado.created_at %></p>