<%= wicked_pdf_image_tag "dentalmenor.jpg" %>
<%= wicked_pdf_stylesheet_link_tag "pdf" %>
<hr>
<br>
<div class="">
  <fieldset>
  <legend> <b> Informações do Chamado:</b></legend>
  <div class=" well">
    <label>Assunto:</label> <b><%= @chamado.assunto %> </b> 
  </div>

<% if @chamado.produto%>
  <div class="span4">
  <span>Produto:</span> <b> <%= @chamado.produto.name %> </b>
  </div>
<% end -%>
<!-- Informa o usuário do sistema -->
<% if @chamado.user %>
  <div class="span4">
    <span >Cliente:</span> <b> <%= @chamado.user.name %> </b>
  </div>
<% end -%>
<!-- fim  -->
<!-- Informa o usuário do sistema -->

<% if @chamado.setor %>
  <div class="span4">
    <span >Local:</span> <b><%= @chamado.setor.unidade.nome %> - <%= @chamado.setor.nome -%></b>
    </div>
<% end -%>
Data e hora da abertura: <b><%= I18n.localize(@chamado.created_at, :format => "%d/%m/%Y | %H:%M h " ) %> </b> <br>
Tipo de Atendimento:     <b><%= @chamado.tipoAtendimento %> </b> <br>
Prioridade:     <b><%= @chamado.prioridade %> </b> <br>
<% if @chamado.status == "Cancelado" %>
  <span class="label">Cancelado 
  <%= I18n.localize(@chamado.updated_at, :format => "%d/%m/%Y") %></span> 
<% end %>
<% if @chamado.status == "Finalizado" %>
  <span class="label">Finalizado 
  <%= I18n.localize(@chamado.updated_at, :format => "%d/%m/%Y") %></span> 
<% end %>

</fieldset> <br>
<!-- fim  -->

<fieldset>
  <legend>Descrição do Chamado</legend>
    <%= @chamado.descricao %>
</fieldset> <br>
<hr>
<!-- Informa o usuário do sistema -->
<% if @chamado.funcionario %>
  <div class="span4">
    <span >Técnico Responsável:</span> <b> <%= @chamado.funcionario.user.name %> </b>
  </div>
<% end -%>
<br>
Rio Branco Acre - <%= I18n.localize(Time.now, :format => "%d/%m/%Y | %H:%M h " ) %>
<!-- fim  -->
</div>