<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
           <title>Painel Administrativo </title>
           <%= stylesheet_link_tag    "application", :media => "all" %>
      
           <%= csrf_meta_tags %>
      
       <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" /> -->
  
        <!-- Favicon -->
            <link rel="shortcut icon" href="favicon.ico" />

        
 <script>
      //* hide all elements & show preloader
      document.documentElement.className += 'js';
    </script>
    
 

    </head>
<body>
    <div id="loading_layer" style="display:none"><%=  image_tag("ajax_loader.gif") %></div>
    <div class="style_switcher">
      <div class="sepH_c">
        <p>Colors:</p>
        <div class="clearfix">
          <a href="javascript:void(0)" class="style_item jQclr blue_theme style_active" title="blue">blue</a>
          <a href="javascript:void(0)" class="style_item jQclr dark_theme" title="dark">dark</a>
          <a href="javascript:void(0)" class="style_item jQclr green_theme" title="green">green</a>
          <a href="javascript:void(0)" class="style_item jQclr brown_theme" title="brown">brown</a>
          <a href="javascript:void(0)" class="style_item jQclr eastern_blue_theme" title="eastern_blue">eastern blue</a>
          <a href="javascript:void(0)" class="style_item jQclr tamarillo_theme" title="tamarillo">tamarillo</a>
        </div>
      </div>
      <div class="sepH_c">
        <p>Codor de Fundo:</p>
        <div class="clearfix">
          <span class="style_item jQptrn style_active ptrn_def" title=""></span>
          <span class="ssw_ptrn_a style_item jQptrn" title="ptrn_a"></span>
          <span class="ssw_ptrn_b style_item jQptrn" title="ptrn_b"></span>
          <span class="ssw_ptrn_c style_item jQptrn" title="ptrn_c"></span>
          <span class="ssw_ptrn_d style_item jQptrn" title="ptrn_d"></span>
          <span class="ssw_ptrn_e style_item jQptrn" title="ptrn_e"></span>
        </div>
      </div>
      <div class="sepH_c">
        <p>Layout:</p>
        <div class="clearfix">
          <label class="radio inline"><input type="radio" name="ssw_layout" id="ssw_layout_fluid" value="" checked /> Centro</label>
          <label class="radio inline"><input type="radio" name="ssw_layout" id="ssw_layout_fixed" value="gebo-fixed" /> Fixo</label>
        </div>
      </div>
      <div class="sepH_c">
        <p>Posicionar Ferramentas:</p>
        <div class="clearfix">
          <label class="radio inline"><input type="radio" name="ssw_sidebar" id="ssw_sidebar_left" value="" checked /> Esquerda</label>
          <label class="radio inline"><input type="radio" name="ssw_sidebar" id="ssw_sidebar_right" value="sidebar_right" /> Direita</label>
        </div>
      </div>
      <div class="sepH_c">
        <p>Mostrar no Topo:</p>
        <div class="clearfix">
          <label class="radio inline"><input type="radio" name="ssw_menu" id="ssw_menu_click" value="" checked /> Click</label>
          <label class="radio inline"><input type="radio" name="ssw_menu" id="ssw_menu_hover" value="menu_hover" /> Passar</label>
        </div>
      </div>
      
      <div class="gh_button-group">
        <a href="#" id="showCss" class="btn btn-primary btn-mini">Mostar CSS</a>
        <a href="#" id="resetDefault" class="btn btn-mini">Resetar</a>
      </div>
      <div class="hide">
        <ul id="ssw_styles">
          <li class="small ssw_mbColor sepH_a" style="display:none">body {<span class="ssw_mColor sepH_a" style="display:none"> color: #<span></span>;</span> <span class="ssw_bColor" style="display:none">background-color: #<span></span> </span>}</li>
          <li class="small ssw_lColor sepH_a" style="display:none">a { color: #<span></span> }</li>
        </ul>
      </div>
    </div>
     <% if user_signed_in? %>
    <div id="maincontainer" class="clearfix">
      <!-- header -->
            <header>
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <%= link_to admin_root_path, :class=>"brand" do %>
                              <i class="icon-home icon-white"></i>  Help Desk
                            <% end -%>
                            <ul class="nav user_menu pull-right">
                                <li class="hidden-phone hidden-tablet">
                                    <div class="nb_boxes clearfix">
                                        <a data-toggle="modal" data-backdrop="static" href="#myMail" class="label ttip_b" title="Novos Chamados">25 <i class="splashy-mail_light"></i></a>
                                        <a data-toggle="modal" data-backdrop="static" href="#myTasks" class="label ttip_b" title="Novas Tarefas">10 <i class="splashy-calendar_week"></i></a>
                                    </div>
                                </li>
                <li class="divider-vertical hidden-phone hidden-tablet"></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle nav_condensed" data-toggle="dropdown"><i class="flag-br"></i> <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                   
                    <li><a href="javascript:void(0)"><i class="flag-de"></i> Deutsch</a></li>
                    <li><a href="javascript:void(0)"><i class="flag-fr"></i> Français</a></li>
                    <li><a href="javascript:void(0)"><i class="flag-es"></i> Español</a></li>
                    <li><a href="javascript:void(0)"><i class="flag-gb"></i> Pусский</a></li>
                    <li><a href="javascript:void(0)"><i class="flag-pr"></i> Cuba</a></li>
                                    </ul>
                                </li>
                                <li class="divider-vertical hidden-phone hidden-tablet"></li>
                                <li class="dropdown">
                                  <%=  link_to("#{current_user.name} <b class='caret'></b>".html_safe, '#', :class => 'dropdown-toggle', :data => { :toggle => 'dropdown' }) + content_tag(:ul, :class => 'dropdown-menu') do  %>
                                  <% end -%>
                                    <ul class="dropdown-menu">
                    <li><a href="user_profile.html">Minha Conta</a></li>
                        <li><a href="javascrip:void(0)">Menu</a></li>
                                        <li class="divider"></li>
                                        <li><%= link_to('Sair',destroy_user_session_path,:method => :delete) %></li>
                                    </ul>
                                </li>
                            </ul>
              <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                <span class="icon-align-justify icon-white"></span>
              </a>
                            <nav>
                                <!-- Menu superiores -->
                                <div class="nav-collapse">
                                    <ul class="nav">
                                        <!-- <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-list-alt icon-white"></i> Forms <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="form_elements.html">Form elements</a></li>
                                                <li><a href="form_extended.html">Extended form elements</a></li>
                                                <li><a href="form_validation.html">Form Validation</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-wrench icon-white"></i> Ferramentas <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Flash</a></li>
                                                <li><a href="#">Antivirus</a></li>
                                                <li><a href="#">FireWall</a></li>
                                                <li><a href="#">Adobe PDF</a></li>
                                                <li><a href="#">Recuperador de Arquivos</a></li>
                                            </ul>                                       </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-file icon-white"></i> Ordem de Serviço <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Abrir</a></li>
                                                <li><a href="#">Todas</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                        </li>
                                        <li>
                                            <a href="#.html"><i class="icon-book icon-white"></i> Ajuda</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="modal hide fade" id="myMail">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                        <h3>Gerenciamento de Tarefas</h3>
                    </div>
                    <div class="modal-body">
                         <div id='lateral'>

                          <%= render "admin/servicos/index" %>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <%= link_to "Ir para Tarefas", admin_servicos_path, :class=>"btn" %>
                    </div>
                </div>
                <div class="modal hide fade" id="myTasks">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                        <h3>Novas Tarefas</h3>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info">Recentes Tarefas realizadas.</div>
                        <table class="table table-condensed table-striped" data-rowlink="a">
                            <thead>
                                <tr>
                                    <th>Nº</th>
                                    <th>Assunto</th>
                                    <th>Data</th>
                                    <th>Prioridade</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>P-23</td>
                                    <td><a href="javascript:void(0)">afas f kaslfjasjf lsjflsd jff;</a></td>
                                    <td>23/05/2012</td>
                                    <td class="tac"><span class="label label-important">Urgente</span></td>
                                    <td>Aberto</td>
                                </tr>
                                <tr>
                                    <td>P-18</td>
                                    <td><a href="javascript:void(0)">fhsdafkdsk ashfk hakf slfdfk &hellip;</a></td>
                                    <td>22/05/2012</td>
                                    <td class="tac"><span class="label label-warning">Mádia</span></td>
                                    <td>Aberto</td>
                                </tr>
                                <tr>
                                    <td>P-25</td>
                                    <td><a href="javascript:void(0)">asfjdlsf alfl dsf lkajf &hellip;</a></td>
                                    <td>22/05/2012</td>
                                    <td class="tac"><span class="label label-success">Normal</span></td>
                                    <td>Fechado</td>
                                </tr>
                                <tr>
                                    <td>P-10</td>
                                    <td><a href="javascript:void(0)">Malkfjdsf lklafal klajfs &hellip;</a></td>
                                    <td>17/05/2012</td>
                                    <td class="tac"><span class="label label-warning">Média</span></td>
                                    <td>Aberto</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn">Gerenciar Tarefas</a>
                    </div>
                </div>
            </header>
            
            <!-- main content -->
            <div id="contentwrapper">
                <div class="main_content">
          <div class="row-fluid">
                        <header id="overview" class="jumbotron subhead">
                        <%= yield :sub_titulo_pagina %>
                        </header>
            <div class="">                                  
                        <%= show_flash(flash) %>
                          <%= yield %>
            </div>
          </div>                       
                </div>
            </div>
            
      <!-- sidebar -->
            <a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" title="Ocultar Ferramenta">Mostar Ferramentas</a>
            <div class="sidebar">
        
        <div class="antiScroll">
          <div class="antiscroll-inner">
            <div class="antiscroll-content">
          
              <div class="sidebar_inner">
                <form action="#" class="input-append" method="post" >
                  <input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Buscar..." /><button type="submit" class="btn"><i class="icon-search"></i></button>
                </form>
                <div id="side_accordion" class="accordion">
                  
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-hdd"></i> Produtos
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseOne">
                      <div class="accordion-inner">
                        <ul class="nav nav-list">
                              <li class="nav-header">Produtos</li>
                              <li><%= link_to "Adicionar", :controller => "produtos", :action => "new", :id => @produto %></li>
                              <li><%= link_to "Meus Produtos", admin_produtos_path if (!current_user.is_role?(:modera)) %></li>
                              <% if current_user.is_role?(:administrador) %>
                               <li><%= link_to "Todos Produtos", admin_produtos_path %></li>
                               <li class="nav-header">Categoria</li>
                               <li><%= link_to "Adicionar Categoria", :controller => "categories", :action => "new", :id => @category %></li>
                              <li><%= link_to "Listar Categorias", admin_categories_path %></li>
                              <% end -%>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                  <!-- Início do chamadd -->
                  <div class="accordion-heading <%= @sdb_h_active %>">
                      <a href="#chamados" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-wrench" display:none></i> Chamado
                      </a>
                  </div>
                  <!-- Fim do Chamado -->

                    <div class="accordion-body collapse" id="chamados">
                      <div class="accordion-inner">
                        <ul class="nav nav-list">
                              <li><%= link_to "Abrir Chamado", :controller => "chamados", :action => "new", :id => @chamado %></li>
                              <li><%= link_to "Listar", admin_chamados_path %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-th"></i> Peças
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseTwo">
                      <div class="accordion-inner">
                        <ul class="nav nav-list">
                          <li><a href="javascript:void(0)">Adicionar Peças</a></li>
                          <li><a href="javascript:void(0)">Todas</a></li>
                          <li><a href="javascript:void(0)">Manutenção</a></li>
                          <li><a href="javascript:void(0)">Pedidos</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-user"></i> Gerenciar Minha Conta
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseThree">
                      <div class="accordion-inner">
                        <ul class="nav nav-list">
                          <li><%= link_to "Cadastrar Clientes", admin_clientes_path %></li>
</li>
                        </ul>
                        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-cog"></i> Configuração de Conta
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseFour">
                      <div class="accordion-inner">
                        <ul class="nav nav-list">
                          <li class="nav-header">Pessoas</li>
                          <li><%= link_to "Cadastrar Usuário", admin_users_path %></li>
                          <li><%= link_to "Cadastrar Clientes", admin_clientes_path %></li>
                          <li><%= link_to "Cadastrar Funcionário", admin_clientes_path %></li>
                          <li class="nav-header">Sistema</li>
                          <li><a href="javascript:void(0)">Informação</a></li>
                          <li><a href="javascript:void(0)">Menu</a></li>
                          <li><a href="javascript:void(0)">Menu</a></li>
                          <li class="divider"></li>
                          <li><a href="javascript:void(0)">Ajuda</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseLong" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-leaf"></i> Histórico (Log)
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseLong">
                      <div class="accordion-inner">
                        Texto aqui 
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapse7" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                         <i class="icon-th"></i> Calculatora
                      </a>
                    </div>
                    <div class="accordion-body collapse in" id="collapse7">
                      <div class="accordion-inner">
                        <form name="Calc" id="calc">
                          <div class="formSep control-group input-append">
                            <input type="text" style="width:142px" name="Input" /><button type="button" class="btn" name="clear" value="c" onclick="Calc.Input.value = ''"><i class="icon-remove"></i></button>
                          </div>
                          <div class="control-group">
                            <input type="button" class="btn btn-large" name="seven" value="7" onclick="Calc.Input.value += '7'" />
                            <input type="button" class="btn btn-large" name="eight" value="8" onclick="Calc.Input.value += '8'" />
                            <input type="button" class="btn btn-large" name="nine" value="9" onclick="Calc.Input.value += '9'" />
                            <input type="button" class="btn btn-large" name="div" value="/" onclick="Calc.Input.value += ' / '">
                          </div>
                          <div class="control-group">
                            <input type="button" class="btn btn-large" name="four" value="4" onclick="Calc.Input.value += '4'" />
                            <input type="button" class="btn btn-large" name="five" value="5" onclick="Calc.Input.value += '5'" />
                            <input type="button" class="btn btn-large" name="six" value="6" onclick="Calc.Input.value += '6'" />
                            <input type="button" class="btn btn-large" name="times" value="x" onclick="Calc.Input.value += ' * '" />
                          </div>
                          <div class="control-group">
                            <input type="button" class="btn btn-large" name="one" value="1" onclick="Calc.Input.value += '1'" />
                            <input type="button" class="btn btn-large" name="two" value="2" onclick="Calc.Input.value += '2'" />
                            <input type="button" class="btn btn-large" name="three" value="3" onclick="Calc.Input.value += '3'" />
                            <input type="button" class="btn btn-large" name="minus" value="-" onclick="Calc.Input.value += ' - '" />
                          </div>
                          <div class="formSep control-group">
                            <input type="button" class="btn btn-large" name="dot" value="." onclick="Calc.Input.value += '.'" />
                            <input type="button" class="btn btn-large" name="zero" value="0" onclick="Calc.Input.value += '0'" />
                            <input type="button" class="btn btn-large" name="DoIt" value="=" onclick="Calc.Input.value = Math.round( eval(Calc.Input.value) * 1000)/1000" />
                            <input type="button" class="btn btn-large" name="plus" value="+" onclick="Calc.Input.value += ' + '" />
                          </div>
                          Ágil Dev <a href="http://#">Help Desk</a>
                        </form>
                      </div>
                     </div>
                  </div>
                </div>
                
                <div class="push"></div>
              </div>
                 
              <div class="sidebar_info">
                <ul class="unstyled">
                  <li>
                    <span class="act act-warning">65</span>
                    <strong>Comentário Novos</strong>
                  </li>
                  <li>
                    <span class="act act-success">10</span>
                    <strong>Chamado Novo</strong>
                  </li>
                  <li><%= link_to('Sair',destroy_user_session_path,:method => :delete) %></li>
                  <li>
                    <span class="act act-danger">85</span>
                    <strong>Membros online</strong>
                  </li>
                </ul>
              </div> 
            
            </div>
          </div>
        </div>
      <% end %>
      </div>   
      

      
    
    </div>

  </body>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "descarregador" %>


</html>